
.env
envs/.env.development
envs/.env.testing
envs/.env.production


uploads/


__pycache__/
*.py[cod]


# Logs
/app/logs/
app/**/*.log
*.log
*.log.*


.vscode/
.idea/


venv/
.env/


.DS_Store

Thumbs.db

gate-uploads*

node_modules/
