.preview-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

#preview-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  max-height: 200px;
  overflow-y: auto;
  text-align: center;
}

#mensagem-feedback,
#loading-spinner,
#progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
img.preview {
  max-width: 300px;
  border-radius: 8px;
  @include box-shadow(0 2px 10px rgba(0, 0, 0, 0.1));
  margin: 1rem auto;
  display: block;
}