@use "../abstracts/variables" as variables;

body {
  font-family: variables.$font-family-base;
  font-size: 16px;
  color: variables.$gray-dark;
  background-color: white;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: variables.$gray-dark;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: variables.$primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
