// app/static/scss/_header.scss
.header-flex {
  display: flex;
  align-items: center;
  justify-content: center;   /* centraliza horizontalmente */
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: var(--primary-color);
  color: #fff;
}

.header-flex .logo-flex {
  max-height: 50px;
}

.texto-header h2 {
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
}

.subtitulo {
  font-size: 0.9rem;
  font-weight: 400;
  color: white;
}