{% extends "base.html" %}

{% block content %}
  <main>
    <section class="card">
      <h3>O que você deseja fazer?</h3>
      <div class="nav-buttons">
        <a href="{{ url_for('index') }}"><button>Página Inicial</button></a>
        <a href="{{ url_for('merge_page') }}"><button>Juntar PDFs</button></a>
        <a href="{{ url_for('split_page') }}"><button>Dividir PDF</button></a>
        <a href="{{ url_for('compress_page') }}"><button>Comprimir PDF</button></a>
      </div>
    </section>
  </main>

  <footer>
    <p>© 2025 Grupo Vital corp - Todos os direitos reservados.</p>
  </footer>
{% endblock %}
